.task5{
    height: 1066px;
    position: relative;
}
.commercial{
    height: 100%;
    width: 1170px;
    left: 19.5vw;
    position: absolute;
    display: grid;
    grid-gap: 10px;
    grid-template:  56.5% 42.5%/1fr 1fr 1fr ;
}
.big{
    background-color: #CCCCCC;
    grid-column: span 3;
    grid-row: span 56%;
    font-family: "Lato";
    
}
.small{
    background-color: #CCCCCC;
    grid-column: span 1;
    grid-row: span 44%;
}
.big1{
    margin: 0px;
    font-size: 60;
    font-weight: 300;
    color: #2C3E50;
}
.big1-1{
    background-color: #1ABC9C;
    color: white;
    font-weight: 900;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    line-height: 10px;
}
.big2{
    margin-top: 15px;
    font-size: 18;
    color: #2C3E50;
    width: 249px;
    line-height: 35px;
    margin-left: 5px;
}
.dets{
    width: 150px;
    height: 50px;
    color: white;
    border: 0px;
    background-color: #2C3E50;
    font-size: 18;
    margin-left: 5px;
}
.tog{
    position: relative;
    width: 316px;
    height: 296px;
    margin-left: 780px;
    margin-top:240px;
}
.small1-1{
    width: 100%;
    height: 200px;
    background-color: #CCCCCC;
    color: transparent;
    padding-top:68px;
    box-sizing: border-box;
}
.small:hover > .small1-1{
    background-color: #1ABC9C;
    color: white;
} 
.circle{
    margin-left: 41%;
    width: 70px;
    height: 70px;
    border-radius: 70px;
    border: 2px transparent solid;
    font-size: 48px;
    padding-left: 20px;
    padding-top: 5px;
    box-sizing: border-box;
}
.small:hover > .small1-1> .circle{
    background-color: #1ABC9C;
    border: 2px white solid;
} 
.small-2{
    padding-left: 30px;
    padding-top: 10px;
    padding-right: 20px;
    box-sizing: border-box;
    width: 100%;
    height: 205px;
    background-color: white;
}
.small:hover > .small-2{
    background-color: #2C3E50;
} 
.small-2-1{
    font-family: "Lato";
    font-weight: 900;
    font-size: 18;
    color: #2C3E50;
}
.small:hover > .small-2> .small-2-1{
    color: white;
} 
.small-2-2{
    margin-top: -10px;
    font-size: 14;
    font-family: "Lato";
    color: #A1B1BC;
    line-height: 25px;
}
.small:hover > .small-2> .small-2-1{
    color: #A1B1BC;
} 
.small-3{
    height: 50px;
    width: 100%;
    background-color: #1ABC9C;
    color: white;
    border: 0px;
    font-size: 15;
    font-family: "Lato";
    text-align: start;
    padding-left: 30px;
}
.small:hover > .small-3{
    background-color: #1E2A37;
} 
