.task8{
    height: 673px;
    background-color: black;
    position: relative;
}
.butright2{
    background-color: transparent;
    color: white;
    border: white solid 3px;
    border-radius: 30px;
    border: 0px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    right: 10.5%;
    top: 50%;
    transform: translate(0, -50%);
}
.butleft2{
    background-color: transparent;
    color: white;
    border: white solid 3px;
    border-radius: 30px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 60px;
    height: 60px;
    left: 10.5%;
    top: 50%;
    box-sizing: border-box;
    padding-right: 20px;
    transform: translate(0, -50%);
}
.caption2{
    position: absolute;
    margin-top: 4%;
    height: 189.61;
    width: 100%;
    text-align: center;
    font-family: "Lato";
    color: white;
    margin-bottom: 0px;
}
.caption21{
    font-size: 30;
    margin-top: 10px;
    margin-bottom: 0px;
}
.caption22{
    font-size: 14;
    /* width: 480px; */
    /* margin-left: 37.5%; */
    line-height: 22px;
}
.bat21{
    position: absolute;
    align-self: center;
    width: 170px;
    height: 45px;
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 900;
    margin-top: 200px;
    margin-left: 41%;
    font-family: "Lato";
    font-weight: 900;
}
.bat22{
    position: absolute;
    width: 170px;
    height: 45px;
    background-color: #21C2F8;
    border: 0px;
    color: white;
    font-size: 15px;
    font-weight: 900;
    margin-left: 50.25%;
    margin-top: 200px;
    font-family: "Lato";
    font-weight: 900;
}
.laptops{
    position: absolute;
    display: block;
    margin-left: 19.5vw;
    margin-top: 36vh;
    width: 1184px;
    
}
