   .task-2, .task-1 {
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Lato", sans-serif;
  }

  .task-2 {
      background-color: #2C3E50;
      height: 792px;
      width: 100%;
  }
  
   .caption {
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 50.8%;
        top: 15%;
        width: 605.55;
        height: 530.79;
        text-align: left;
        color: white;
        font-family: 'Lato', sans-serif;
        font-size: 36;
        font-weight: 300;
  }
  .cap2{
      margin-top: -47px;
      float: left;
      font-size: 90;
      margin-left: -5px;
      font-weight: 0px;
      font-family: 'Lato', sans-serif;

  }
  .cap3{
      float: left;
      font-size: 18;
      line-height: 30px;
      margin-top: -16px;
      width: 580px;
      margin-bottom: 36px;
  }
    .caps{
        float: left;
        font-family: "Lato", sans-serif;
        font-size: 80;
        font-weight: 30px;
        border: white solid 3px;
        border-radius: 6px;
        color: white;
        width: 54px;
        height: 54px;
        align-content: center;
        margin-top: 26px;
        text-align: center;
        margin-left: 15px;
        line-height: 30px;
    }
.butleft:hover{
    background-color: white;
    color: #2C3E50;
}
.butright:hover{
    background-color: white;
    color: #2C3E50;
}
  .butright{
    background-color: transparent;
    color: white;
    border: white solid 3px;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    right: 68px;
    top: 43.5%;
    transform: translate(0, -50%);
}
.butleft{
    background-color: transparent;
    color: white;
    border: white solid 3px;
    border-radius: 5px;
    position: absolute;
    display: inline-block;
    text-align: center;
    font-size: 30px;
    width: 50px;
    height: 50px;
    left: 68px;
    top: 43.5%;
    transform: translate(0, -50%);
    
    
}

.phones{
    position: absolute;
    margin-left: 17.8%;
    width: 531px;
    height: 742px;
    margin-top: 0.8%;
}
.phone1{
    position: relative;
    height: 742px;
    top: 0;
    left: 0;
}
.phone2{
    position: absolute;
    height: 742px;
    left: 152px;
}

.but1{
    width: 160px;
    height: 50px;
    background-color: #1D2C3B;
    border: 0px;
    color: white;
    font-size: 18;
}
.but2{
    width: 160px;
    height: 50px;
    color: white;
    background-color: #1ABC9C;
    border: 0px;
    font-size: 18;
}
.circles{
    width: 100px;
    display: flex;
    justify-content: space-between;
    height: 15px;
    position: absolute;
    top: 94%;
    left: 48%;
}
.c1{
    width: 100px;
    background-color: white;
    display: flex;
    width: 15px;
    height: 15px;
    border-radius: 20px;
}
.c3{
    border: white solid 2px;
    background-color: transparent;
    margin-top: -1.5;
}
