.task9{
    height: 520px;
    background-color: #ECF0F1;
    display: grid;
    grid-row-gap: 40px;
    grid-column-gap: 30px;
    padding-left: 19.5vw;
    padding-right: 19vw;
    padding-top: 10vh;
    grid-template:  48px 255px/ 570px 570px;
    box-sizing: border-box;
    font-family: "Lato";
    width: 100%;
}
.task91{
    grid-column: span 1;
    grid-row: span 1;
    background-color: transparent;
    margin-bottom: 10px;
}
.why{
    color: #34495E;
    background-color: transparent;
    font-size: 36;
    font-weight: 300;
}
.services{
    color: #34495E;
    background-color: transparent;
    font-family: "Lato";
    font-size: 36;
    font-weight: 300;
}
.lk{
    float: right;
    width: 40px;
    height: 40px;
    border: #E5E5E5 solid 1px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16;
    font-family: Arial, Helvetica, sans-serif;
}
.whudiv1{
    color: #A1B1BC;
    line-height: 40px;
    width: 100%;
    height: 40px;
    border: #E5E5E5 solid 1px;
    background-color: white;
    margin-bottom: 1px;
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 14;
    font-family: "Lato";
}
.whudiv1:hover{
    color: #1ABC9C;
    font-weight: 900;
}
.whudiv3{
    color: #A1B1BC;
    background-color: white;
    width: 100%;
    border: #E5E5E5 solid 1px;
    height: 122px;
    margin-bottom: 1px;
    box-sizing: border-box;
    display: none;
}

.whudiv1:hover>.lk{
    color: #A1B1BC;
    font-weight: 400;
    
}
.whudiv3-1{
    margin-top: 21px;
    margin-right: 18px;
    margin-left: 21px;
    height: 80px;
    width: 80px;
    background-color: #CCCCCC;
    float: left;
}
.whudiv3-2{
    margin-left: 0px;
    float: left;
    width: 413px;
    font-size: 14;
    margin-top: 25px;
    line-height: 23px;
}
.whudiv4{
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 14;
    color: #A1B1BC;
    line-height: 40px;
    margin-top: 2px;
    width: 100%;
    height: 40px;
    clear: left;
    border: #E5E5E5 solid 1px;
    background-color: white;
}
.whudiv4:hover{
    color: #1ABC9C;
    font-weight: 900;
    
}
.whudiv4:hover>.lk{
    color: #A1B1BC;
    font-weight: 400;
    
}
.whudiv2{
    box-sizing: border-box;
    padding-left: 15px;
    font-size: 14;
    color: #A1B1BC;
    line-height: 40px;
    width: 100%;
    height: 40px;
    border: #E5E5E5 solid 1px;
    background-color: white;
    font-family: "Lato";
}
.whudiv2:active + .whudiv3{
    display: block;
}
.whudiv2:hover{
    color: #1ABC9C;
    font-weight: 900;
}
.whudiv2:hover>.lk{
    color: #A1B1BC;
    font-weight: 400;
    
}
.servicesdiv{
    font-family: "Lato";
    color: #A1B1BC;
    font-size: 14;
    background-color: white;
    border: #E7EAEA 1px solid;
}
.servicesdiv2-1{
    float: left;
    width: 60px;
    margin-bottom: 24px;
}
.servicesdiv2-2{
    float: right;
    height: 75.39px;
    width: 448px;
    margin-top: 0px;
    line-height: 24px;
}
.servicesdiv2-3{
    clear: left;
    height: 70.39;
    width: 100%;
    margin: 0px;
    line-height: 24px;
}
.servicesdiv1{
    display: flex;
    height: 40px;
    width: 100%;
    /* border: #E7EAEA 1px solid; */
    /* padding: 10px 20px; */
    /* justify-content: space-between;
    box-sizing: border-box; */
}
.servicesdiv1>div{
    border: #E7EAEA 1px solid;
    /* width: 147px; */
    padding: 11px 16px;
    box-sizing: border-box;
}

.servicesdiv1>div:active{
    color: #1ABC9C;
    font-weight: bold;
    border-top: solid 3px #1ABC9C;
    box-sizing: border-box;
    padding: 8px 14px 8px 16px
}
.servicesdiv1>div:hover{
    color: #34495E;
    font-weight: bold;
}
.servicesdiv1>div:active{
    color: #1ABC9C;
    font-weight: bold;
    border-top: solid 3px #1ABC9C;
    box-sizing: border-box;
    padding: 8px 14px 8px 16px
}
.whudiv2:active + .whudiv3{
    display: block;
}

.servicesdiv2{
    padding: 21px;
    width: 534;
    height: 161.48;
}
.wd{
    width: 190px;
}