.task12{
    height: 360px;
    width: 100%;
    display: grid;
    grid-template:  1fr/ 1fr 1fr 1fr;
}
.task12div{
    grid-column: span 1;
    grid-row: span 1;
    min-width: 480px;
    padding: 77px 0px 50px 80px;
}
.task12div-1{
    background-color: #4E459A;
}
.task12div-2{
    background-color:#63D8FF;
}
.task12div-3{
    background-color: #E36968;
}
.minidiv{
    width: 480px;
    font-family: "Lato";
    color: white;
    font-size: 14;
}
.minidiv1{
    font-size: 15;
    font-weight: 900;
    letter-spacing: 1.5px;
    word-spacing: 1.5px;
}
.minidiv>button{
    background-color: transparent;
    font-size: 15;
    font-family: "Lato";
    font-weight: 900;
    border-radius: 3px;
    border: 2px white solid;
    color: white;
    padding: 13px 23px ;
}
.minidiv2{
    line-height: 24px;
    margin-top: 10px;
    margin-bottom: 20px;
}