.task10{
    width: 100%;
    height: 300px;
    background-color: #34495E;
    padding-top: 95px;
    box-sizing: border-box;
}
.task10cont{
    width: 1073px;
    height: 112px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.task10cont>div{
    color: white;
    font-family: 'Lato';
}
.fir{
    font-size: 72;
    font-weight: 300;
    float: left;
    line-height: 75px;
}
.sec{
    font-size: 18;
    font-weight: 900;
    clear: left;
    float: right;
}