.task15{
    width: 100%;
    height: 77px;
    background-color: #1A1C27;
    padding: 30px 350px 0px 370px;
    /* padding: 30px 20px 0px 370px */
    box-sizing: border-box;
}

.footer{
    float: left;
    font-family: "Lato";
    margin-right: 160px;
    color: white;
}
.footer2{
    /* float: right; */
    height: 10px;
    font-size: 15;
    color: white;
    width: 1400px;
    margin-right: 0px;
    font-family: "Lato";
}
.footer21{
    align-self: center;
    margin-top: 0;
    margin-right: 35px;
    font-family: "Lato";
    font-weight: 300;
}

.footer21:hover{
    color: #1ABC9C;
}



