.task14{
    height: 710px;
    width: 100%;
    background-color: #222533;
    position: relative;
    
}
.task14i{
    color: #1ABC9C;
    position: absolute;
    top: 0%;
    width: 30px;
    font-size: 30;
    line-height: 40px;
}
.fa-caret-down:before {
    content: "\f0d7";
    line-height: 40px;
    font-size: 60;
    position: absolute;
    left: 944px;
    top: -19;
}